{{> header}}


    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>PROBANDO</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa aut corrupti labore reiciendis! Corporis commodi nam vitae doloremque deleniti consequatur obcaecati provident voluptatum, explicabo dolore molestias minus dolorem, ad fugiat!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/prueba.png" class="img-thumbnail">
        </div>
    </div>
{{> footer}}